DATABASE_URL="postgresql://user:password@localhost:5432/taoman"
JWT_SECRET="your-jwt-secret-key"
PORT=3000

FRONTEND_CLIENT_URL=http://localhost:5173
FRONTEND_ADMIN_URL=http://localhost:5174

RESEND_API_KEY="your-resend-api-key"
RESEND_FROM_EMAIL="noreply@yourdomain.com"
